<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.appdesenvol.monitoraveiculo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".telaSobreApp">
        </activity>
        <activity
                android:name=".telaStatusManutencao"
                android:label="@string/title_activity_tela_status_manutencao"
                android:parentActivityName=".telaPrincipalmain"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.appdesenvol.monitoraveiculo.telaPrincipalmain"/>
        </activity>
        <activity
                android:name=".telaCadastro"
                android:label="@string/title_activity_tela_cadastro"
                android:parentActivityName=".telaPrincipalmain"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.appdesenvol.monitoraveiculo.telaPrincipalmain"/>
        </activity>
        <activity
                android:name=".telaPrincipalmain"
                android:label="@string/title_activity_tela_principalmain"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".telaAbertura"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>