name: AndroidBuild CI/CD
on:
  push:
    branches: [ master ]
jobs:
  build:
    name: start integration build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup Java JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Version app
        uses: chkfung/android-version-actions@v1.2.3
        with:
          gradlePath: app/build.gradle
#          versionCode: ${{ github.run_number }}
          versionCode: '12'
          versionName: '1.4'

      - name: Assemble Release Bundle
        run: ./gradlew bundleRelease

      - name: Sign Release
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.KEYSTORE }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          alias: ${{ secrets.APP_NAME_KEY }}
          keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}

      - name: Setup Authorization With Google Play Store
        run: echo '${{ secrets.GOOGLE_PLAY_API_AUTH }}' > service_account.json

      - name: Deploy to Internal Channel
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: service_account.json
          packageName: br.com.devnattiva.deolhoveiculo
          releaseFiles: app/build/outputs/bundle/release/app-release.aab
          track: production
          status: completed

#      - name: Build with Gradle
#        run: ./gradlew build
#
#      - name: Upload a Build Artifact
#        uses: actions/upload-pages-artifact@v3
#        with:
#          name: app.apk
#          path: app/build/outputs/apk/debug/app-debug.apk







